* {
    margin: 0;
    padding: 0;
    border: 0;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
}

.dashboard {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: repeat(12, auto [col-start]);
    grid-template-areas:
        'header header header header header header header header header header header header'
        'main main main main main main main main main main main main'
        'footer footer footer footer footer footer footer footer footer footer footer footer';

    padding: 0 50px;
    font-family: Roboto, Helvetica, Aerial, sans-serif;
    background-color: #e4e9ea;
}

.dashboard header#header-dashboard {
    grid-area: header;
    padding: 0.75rem 1rem 1rem 1rem;
    background-color: #303030;
    border-radius: 0 0 0.5rem 0.5rem;

    -webkit-box-shadow: 0 0 0.45rem rgba(8, 8, 8, 0.25);
    -moz-box-shadow: 0 0 0.45rem rgba(8, 8, 8, 0.25);
    box-shadow: 0 0 0.45rem rgba(8, 8, 8, 0.25);
}

.dashboard header nav {
    color: #66a992;
}

.dashboard header nav a {
    text-decoration: none;
    text-decoration-color: #66a992;
    color: #66a992;
}

.dashboard main {
    grid-area: main;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, auto [col-start]);
    grid-template-rows: auto;
    gap: 1rem;
}

.draw-container {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding: 0.5rem;
    border-radius: 0.75rem;

    background-color: #FFFFFFFF;

    -webkit-box-shadow: 0 0 0.45rem rgba(8, 8, 8, 0.25);
    -moz-box-shadow: 0 0 0.45rem rgba(8, 8, 8, 0.25);
    box-shadow: 0 0 0.45rem rgba(8, 8, 8, 0.25);
}

.draw-container header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    height: 1.5rem;
}

.draw-container header > a, span {
    display: compact;
    text-align: center;
    text-decoration: none;
    color: #303030;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .dashboard {
        padding: 0 10px;
    }

    .col-sm-1 {
        grid-column: span 1;
    }

    .col-sm-2 {
        grid-column: span 2;
    }

    .col-sm-3 {
        grid-column: span 3;
    }

    .col-sm-4 {
        grid-column: span 4;
    }

    .col-sm-5 {
        grid-column: span 5;
    }

    .col-sm-6 {
        grid-column: span 6;
    }

    .col-sm-7 {
        grid-column: span 7;
    }

    .col-sm-8 {
        grid-column: span 8;
    }

    .col-sm-9 {
        grid-column: span 9;
    }

    .col-sm-10 {
        grid-column: span 10;
    }

    .col-sm-11 {
        grid-column: span 11;
    }

    .col-sm-12 {
        grid-column: span 12;
    }
}

@media screen and (min-width: 1024px) {
    .col-1 {
        grid-column: span 1;
    }

    .col-2 {
        grid-column: span 2;
    }

    .col-3 {
        grid-column: span 3;
    }

    .col-4 {
        grid-column: span 4;
    }

    .col-5 {
        grid-column: span 5;
    }

    .col-6 {
        grid-column: span 6;
    }

    .col-7 {
        grid-column: span 7;
    }

    .col-8 {
        grid-column: span 8;
    }

    .col-9 {
        grid-column: span 9;
    }

    .col-10 {
        grid-column: span 10;
    }

    .col-11 {
        grid-column: span 11;
    }

    .col-12 {
        grid-column: span 12;
    }
}

/* Charts definition */
#draw-area-01 div svg,
#draw-area-02 div svg,
#draw-area-03 div svg,
#draw-area-04 div svg,
#draw-area-05 div svg,
#draw-area-06 div svg {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#draw-area-01 > div,
#draw-area-02 > div,
#draw-area-03 > div,
#draw-area-04 > div,
#draw-area-05 > div,
#draw-area-06 > div {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#chart-container {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

#draw-area-03 .tick line {
    stroke-width: 0;
}

#draw-area-03 .grid .tick line {
    stroke-width: 1;
}

#draw-area-03 svg rect.bar-rect:hover {
    fill: rgba(102, 169, 146, 0.85);
}